In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("actions/actions_data/CheckinMsgProcessor.csv")

In [3]:
df.head()

,Unnamed: 0,id,creation_time,airline_code,flight_number,flight_date,departure_airport,user_name,action_name,header_line,entry_details,aircraft_regTailNbr,aircraftType,aircraft_configuration
0,677889,137527449,2024-04-30 04:40:14,MN,1089,1,DUB,service-acco,CheckinMsgProcessor,"2024-04-30 04:40:14,669 INFO [67de35f69d6ebc6...","<?xml version=""1.0"" encoding=""UTF-8""?>\r\n<n:P...",NaN,330-302,J30Y287
1,677890,137527464,2024-04-30 04:40:14,MN,1089,1,DUB,service-acco,CheckinMsgProcessor,"2024-04-30 04:40:14,675 INFO [67de35f69d6ebc6...",The message was processed successfully,NaN,NaN,NaN
2,677891,137528315,2024-04-30 04:40:34,MN,1342,1,DUB,service-acco,CheckinMsgProcessor,"2024-04-30 04:40:34,238 INFO [2ab11e266b5ce9e...","<?xml version=""1.0"" encoding=""UTF-8""?>\r\n<n:P...",NaN,320-214,J4Y168
3,677892,137528969,2024-04-30 04:40:20,MN,1137,1,DUB,service-acco,CheckinMsgProcessor,"2024-04-30 04:40:20,201 INFO [132f101f8897572...","<?xml version=""1.0"" encoding=""UTF-8""?>\r\n<n:P...",NaN,330-302,J30Y287
4,677893,137528984,2024-04-30 04:40:20,MN,1137,1,DUB,service-acco,CheckinMsgProcessor,"2024-04-30 04:40:20,223 INFO [132f101f8897572...",The message was processed successfully,NaN,NaN,NaN

In [6]:
df.aircraft_regTailNbr.value_counts()

aircraft_regTailNbr
MNNSB    1697
MNNSD    1543
MNNSA    1471
MNDEL    1380
MNLRG    1289
MNDMN    1226
MNDVH    1198
MNDVG    1186
MNLRF    1165
MNDEP    1163
MNCVC    1158
MNGAM    1154
MNDEG    1145
MNDEE    1112
MNDVE    1111
MNDVI    1108
MNCVB    1093
MNLRB    1091
MNDEK    1068
MNDEN    1049
MNDEM    1042
MNFNH    1024
MNDVN    1023
MNEDS    1016
MNDER    1012
MNFNJ    1004
MNDEH    1002
MNDVM     990
MNMNN     980
MNLRH     967
MNDVL     963
MNLRC     956
MNDUZ     952
MNFNG     949
MNEDP     949
MNDEF     939
MNMNM     926
MNGEY     923
MNGCF     901
MNEAV     881
MNDUO     815
MNGAL     807
MNDVK     780
MNGAJ     778
MNDAA     728
MNLRD     650
MNDEJ     596
GMNDY     339
MNLRA     308
MNLRE     302
GMNLA     295
Name: count, dtype: int64