In [2]:
import pandas as pd
from files import *

In [3]:
files = {
    PARQUET_AB_WEIGHTS: CSV_AB_WEIGHTS,
    PARQUET_MN_WEIGHTS: CSV_MN_FLIGHTTABLE,
    PARQUET_ZY_WEIGHTS: CSV_ZY_WEIGHTS,
    PARQUET_WEIGHTS: CSV_WEIGHTS,
    PARQUET_AB_FLIGHTTABLE: CSV_AB_FLIGHTTABLE,
    PARQUET_MN_FLIGHTTABLE: CSV_MN_FLIGHTTABLE,
    PARQUET_ZY_FLIGHTTABLE: CSV_ZY_FLIGHTTABLE,
    PARQUET_FLIGHTTABLE: CSV_FLIGHTTABLE,
}

In [5]:
for source, target in files.items():
    pd.read_parquet(source).to_csv(target, index=False, sep=',', quotechar='"')

In [5]:
ab_w = pd.read_parquet(PARQUET_AB_WEIGHTS)
mn_w = pd.read_parquet(PARQUET_MN_WEIGHTS)
zy_w = pd.read_parquet(PARQUET_ZY_WEIGHTS)

w = pd.concat([ab_w, mn_w, zy_w])

C:\Users\voelk\AppData\Local\Temp\ipykernel_31920\2789344444.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  w = pd.concat([ab_w, mn_w, zy_w])

In [6]:
w.to_parquet(PARQUET_WEIGHTS, engine="pyarrow", compression="brotli")

In [10]:
w.to_csv(CSV_WEIGHTS, index=False, sep=",", quotechar='"')

In [ ]:
w

In [8]:
ab_f = pd.read_parquet(PARQUET_AB_FLIGHTTABLE)
mn_f = pd.read_parquet(PARQUET_MN_FLIGHTTABLE)
zy_f = pd.read_parquet(PARQUET_ZY_FLIGHTTABLE)

f = pd.concat([ab_f, mn_f, zy_f])

In [9]:
f.to_parquet(PARQUET_FLIGHTTABLE, engine="pyarrow", compression="brotli")

In [11]:
f.to_csv(CSV_FLIGHTTABLE, index=False, sep=",", quotechar='"')